DB_SERVER=10.123.23.49
DB_PORT=1433
DB_DATABASE=TrainingPlanManagementDB
DB_USER=training_plan_app
DB_PASSWORD=Tr@iningDB2022

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_CONNECTION_TIMEOUT_MS=15000
DB_REQUEST_TIMEOUT_MS=15000
DB_POOL_MAX=10
DB_POOL_IDLE_TIMEOUT_MS=30000
AUTH_SESSION_SECRET=CtIlJwMr0ZJ4DA2yACorL2YTx3wkn1Qi2DT1oz/bLavIuYSgt2PgDpYucoDWmOU/
NATIONAL_ID_HMAC_KEY=9akh8H/0VFMy8h/HroU/SPoMTagUgYZCsAShi4YhkVc=
NATIONAL_ID_ACTIVE_KEY_VERSION=1
NATIONAL_ID_ENCRYPTION_KEY_V1=0U6jnylwzywvuarC75bCtew41MhUVtuvapeDn5nmzJg=